<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="207" border="1">
  <tr>
    <th width="47" scope="col">sl.no</th>
    <th width="44" scope="col">user info</th>
    <th width="44" scope="col">place</th>
    <th width="44" scope="col">work status</th>
  </tr>
    {% for i in view %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;name:{{ i.VOLUNTEER_SUPPORT.USER.Name }}<br>email:{{ i.VOLUNTEER_SUPPORT.USER.Email }}<br>phone:{{ i.VOLUNTEER_SUPPORT.USER.Contact_no }}</td>
    <td>{{ i.VOLUNTEER_SUPPORT.USER.Place }}</td>
    <td><a href="/update_work_status/{{ i.id }}">update status</a></td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
