<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="/addcamp">Add camp</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="viewcamp">view camp</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="viewvolunteer">view volunteer</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="addpolice">Add police station</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="viewpolice">View police station</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="addfire">Add fire station</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="viewfire">View fire station</a></th>
  </tr>

    <tr>
    <th scope="row"><a href="addhospital">Add hospital</a></th>
  </tr>

    <tr>
    <th scope="row"><a href="viewhospital">View hospital</a></th>
  </tr>


  <tr>
    <th scope="row"><a href="viewdonation">View donation</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="addnotification">Add notification</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="viewnotification">View notification</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="addweather">Add weather</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="viewweather">View weather</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="adddeath">Add death toll</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="viewdeath">View death toll</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="addub">Add unidentified bodies</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="viewub">View unidentified bodies</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="viewmissingperson">View missing person</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="viewalertandverify">View alerts & verification</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/logout_buttonclick">LOGOUT</a></th>
  </tr>
</table>

<blockquote>&nbsp;</blockquote>
<blockquote>&nbsp;</blockquote>
</body>
</html>
