<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/updatenotification_updatebuttonclick/{{ data.id }}" method="post">
<table width="446" border="1">
  <tr>
    <th width="178" scope="row">Disaster Category</th>
    <td width="252">
      <label for="textfield"></label>
      <label for="select"></label>
       <select name="cate" id="select">
          <option value="Flood" {% if data.DisasterCategory == "Flood" %} selected{% endif %}>Flood</option>
          <option value="Earthquake" {% if data.DisasterCategory == "Earthquake" %} selected{% endif %}>Earthquake</option>
           <option value="Cyclone" {% if data.DisasterCategory == "Cyclone" %} selected{% endif %}>Cyclone</option>
           <option value="Drought" {% if data.DisasterCategory == "Drought" %} selected{% endif %}>Drought</option>
           <option value="Wildfire" {% if data.DisasterCategory == "Wildfire" %} selected{% endif %}>Wildfire</option>
           <option value="Landslide" {% if data.DisasterCategory == "Landslide" %} selected{% endif %}>Landslide</option>
           <option value="others" {% if data.DisasterCategory == "others" %} selected{% endif %}>others</option>
      </select>
      
    </td>
  </tr>
  <tr>
    <th scope="row">Date</th>
    <td>
      <label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2"  value="{{ data.Date}}" />
    </td>
  </tr>
  <tr>
    <th scope="row">Information</th>
    <td>
      <label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5">{{ data.information }}</textarea>
    </td>
  </tr>
  <tr>
    <th scope="row">Area</th>
    <td>
      <label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.Area}}"  />
    </td>
  </tr>
  <tr>
    <th scope="row">Latitude</th>
    <td>
      <label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4"  value="{{ data.Latitude}}" />
    </td>
  </tr>
  <tr>
    <th scope="row">Longitude</th>
    <td>
      <label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5"  value="{{ data.longitude}}" />
    </td>
  </tr>
  <tr>
    <th colspan="2" scope="row">
      <input type="submit" name="button" id="button" value="Update" />
    </th>
  </tr>
</table>
</form>
</body>
</html>
