<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<form action="/updatedeath_updatebuttonclick/{{ data.id }}" method="post">
<table width="352" border="1">
  <tr>
    <th width="174" scope="row">Disaster type</th>
    <td width="162"><form id="form1" name="form1" method="post" action="">
      <label for="select"></label>
      <select name="cate" id="select">
           <option value="Flood" {% if data.DisasterType == "Flood" %} selected{% endif %}>Flood</option>
          <option value="Earthquake" {% if data.DisasterType == "Earthquake" %} selected{% endif %}>Earthquake</option>
           <option value="Cyclone" {% if data.DisasterType == "Cyclone" %} selected{% endif %}>Cyclone</option>
           <option value="Drought" {% if data.DisasterType == "Drought" %} selected{% endif %}>Drought</option>
           <option value="Wildfire" {% if data.DisasterType == "Wildfire" %} selected{% endif %}>Wildfire</option>
           <option value="Landslide" {% if data.DisasterType == "Landslide" %} selected{% endif %}>Landslide</option>
           <option value="others" {% if data.DisasterType == "others" %} selected{% endif %}>others</option>
      </select>
    </form></td>
  </tr>
  <tr>
    <th scope="row">Death Count</th>
    <td>
      <label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.DeathCount}}"/>
    </td>
  </tr>
  <tr>
    <th scope="row">Date</th>
    <td>
      <label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data.Date}}" />
   </td>
  </tr>
  <tr>
      <th>
           <label for="textfield2"></label>

      <input type="submit" name="button" id="button" value="Update" />
   </th>
  </tr>

</table>

</body>
</html>
