<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="393" border="1">
  <tr>
      <th width="36" scope="col">S.no</th>
    <th width="35" scope="row">Name</th>
    <td width="18">Age</td>
    <td width="44">Gender</td>
    <td width="33">Address</td>
    <td width="69">Id proof</td>
    <td width="82">Image</td>
    <td width="69">Contact no</td>
    <td width="82">Email</td>

  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{ i.Name }}&nbsp;</td>
    <td>{{ i.Age }}&nbsp;</td>
      <td>{{ i.Gender }}&nbsp;</td>
      <td>{{ i.Place }}&nbsp;<br>{{ i.pin }}&nbsp<br>{{ i.post }}&nbsp;</td>
      <td><a href="{{ i.Id_proof }}" >view</a>&nbsp;</td>
    <td><img src="{{ i.Image }}" height="100" width="100" /> &nbsp;</td>
    <td>{{ i.Contact_no }}&nbsp;</td>
    <td>{{ i.Email }}&nbsp;</td>

        <br>
    </td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
