<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="462" border="1">
  <tr>
    <th width="36" scope="col">S.no</th>
    <th width="35" scope="col">Name</th>
    <th width="63" scope="col">Usertype</th>
    <th width="34" scope="col">Age</th>
    <th width="48" scope="col">Gender</th>
    <th width="34" scope="col">Place</th>
    <th width="27" scope="col">Pin</th>
    <th width="36" scope="col">Post</th>
    <th width="79" scope="col">Phone-no</th>
   
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
