<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="col">S.no</th>
    <th scope="col">Disaster Category</th>
    <th scope="col">Date</th>
    <th scope="col">Information</th>
    <th scope="col">Area</th>
    <th scope="col">Location</th>
    <th scope="col"></th>
  </tr>
     {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{ i.DisasterCategory }}&nbsp;</td>
    <td>{{ i.Date }}&nbsp;</td>
    <td>{{ i.information}}&nbsp;</td>
    <td>{{ i.Area}}&nbsp;</td>
    <td>{<a href="https://www.google.com/maps/?q={{ i.Latitude }},{{ i.longitude }}">track</a>&nbsp;</td>
    <td><a href="/updatenotification/{{ i.id }}">Edit</a><br /><a href="/delete_notification/{{ i.id }}">Delete</a></td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
