<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/coordinator_view_profile">profile</a><br>
<a href="/add_inmates">add inmates</a><br>
<a href="/view_volunteer">view_volunteer approve or reject</a><br>
<a href="/add_requirement">add requirement</a><br>
<a href="/view_requirement">view requirement</a><br>
<a href="/camp_view_disaster_notification">view_disaster_notification</a><br>
<a href="/camp_view_weather">view_weather</a><br>
<a href="/add_missing_person">add_missing_person</a><br>
<a href="/view_missing_person">view_missing_person</a><br>
<a href="/camp_view_volunteer_request">view_volunteer_request</a><br>
<a href="/logout_buttonclick">logout</a><br>
</body>
</html>