<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="181" border="1">
  <tr>
    <th width="47" scope="col">sl.no</th>
    <th width="55" scope="col">user info</th>
    <th width="55" scope="col">Date</th>
    <th width="57" scope="col">allocate volunteer</th>
  </tr>
    {% for i in view %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;name:{{ i.USER.Name }}<br>email:{{ i.USER.Email }}</td>
    <td>&nbsp;{{ i.date }}</td>
    <td><p><a href="/allocate_request/{{ i.id }}">add allocation</a></p>
   <p><a href="/view_allocate_request/{{ i.id }}">view allocation</a></p>
   </td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
