<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="col">sl.no</th>
    <th scope="col">item</th>
    <th scope="col">discription</th>
    <th scope="col">edit or delete</th>
    <th scope="col">willing users</th>
  </tr>
    {% for i in view %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.Itemrequired }}</td>
    <td>&nbsp;{{ i.Description }}</td>
    <td><p><a href="/delete_requirement/{{ i.id }}">delete</a></p>
    <p><a href="/edit_requirement/{{ i.id }}">edit</a></p></td>
    <td><p><a href="/view_willing_users/{{ i.id }}">view willing users</a></p></td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
