<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="330" border="1">
  <tr>
    <th width="47" scope="col">sl.no</th>
    <th width="102" scope="col">volunteer info</th>
    <th width="44" scope="col">date</th>
    <th width="109" scope="col">status</th>
  </tr>
    {% for i in view %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;name:{{ i.VOLUNTEER.Name }}<br>email:{{ i.VOLUNTEER.Email }}</td>
    <td>&nbsp;{{ i.date }}</td>
    <td><p><a href="/view_work_status/{{ i.id }}">view status</a></p>
    <p>&nbsp;</p></td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
