<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="319" border="1">
  <tr>
    <th width="47" scope="col">sl.no</th>
    <th width="55" scope="col">name</th>
    <th width="35" scope="col">age</th>
    <th width="71" scope="col">gender</th>
    <th width="4" scope="col">image</th>
    <th width="4" scope="col">description</th>
    <th width="57" scope="col">edit/delete</th>
    <th width="57" scope="col">view_reporting</th>
  </tr>
    {% for i in view %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.Name }} </td>
    <td>&nbsp;{{  i.Age }}</td>
    <td>&nbsp;{{ i.Gender }}</td>
    <td>&nbsp;<img src="{{ i.Image }}" height="100" width="100"> </td>
    <td>&nbsp;{{ i.Description }}</td>
    <td><p><a href="/edit_missing_person/{{ i.id }}">edit</a></p>
    <p><a href="/delete_missing_person/{{ i.id }}">delete</a></p></td>
    <td><p><a href="/view_reporting/{{ i.id }}">view reporting</a></p></td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
