<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/user_view_near_by_policestations">police station</a><br>
<a href="/user_view_camps">camps</a><br>
<a href="/user_view_firestation">fire station</a><br>
<a href="/user_view_assigned_volunteers">view volunteer support</a><br>
<a href="/user_view_education_content">view education contents</a><br>
<a href="/user_view_deathtoll">death toll</a><br>
<a href="/user_view_disaster_notification">disaster notification</a><br>
<a href="/user_view_ub">unidentifyed bodies</a><br>
<a href="/user_viewmissingperson">missing person</a><br>
<a href="/user_add_alert">add alert</a><br>
<a href="/user_view_alert">view alert</a><br>
<a href="/user_view_missing_person">view missing person</a><br>
</body>
</html>