<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="col">S.no</th>
    <th scope="col">Co-ordinator</th>
    <th scope="col">Area</th>
    <th scope="col">Hospital</th>
    <th scope="col">Male</th>
    <th scope="col">Female</th>
    <th scope="col">Kids</th>
  </tr>
 {% for i in view %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{ i.CAMP.CampCoordinator}}&nbsp;</td>
    <td>{{ i.Area}}&nbsp;</td>
    <td>{{ i.HOSPITAL.Hospital}}&nbsp;</td>
    <td>{{ i.Male}}&nbsp;</td>
    <td>{{ i.Female}}&nbsp;</td>
    <td>{{ i.Kids}}&nbsp;</td>

  </tr>
    {% endfor %}
</table>
</body>
</html>
