<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/user_registrations" method="post">
  <table width="200" border="1">
  <tr>
    <th scope="row">name</th>
    <td><label for="textfield"></label>
      <input type="text" name="name" id="textfield" required /></td>
  </tr>
  <tr>
    <th scope="row">email</th>
    <td><input type="text" name="email" id="textfield2" /></td>
  </tr>
  <tr>
    <th scope="row">phone</th>
    <td><input type="text" name="phone" id="textfield3" /></td>
  </tr>
  <tr>
    <th scope="row">place</th>
    <td><input type="text" name="place" id="textfield4" /></td>
  </tr>
  <tr>
    <th scope="row">pin</th>
    <td><input type="text" name="pin" id="textfield2" /></td>
  </tr>
  <tr>
    <th scope="row">post</th>
    <td><input type="text" name="post" id="textfield2" /></td>
  </tr>
  <tr>
    <th scope="row">age</th>
    <td><input type="text" name="age" id="textfield2" /></td>
  </tr>
  <tr>
    <th scope="row"><p>gender
      </th>
    <td><p>
      <label>
        <input type="radio" name="gender" value="male" id="gender_0" />
        male</label>
      <br />
      <label>
        <input type="radio" name="gender" value="female" id="gender_1" />
        female</label>
      <br />
    </p></td>
  </tr>
       <tr>
    <th scope="row">Password</th>
    <td><input type="text" name="password" id="textfield2" /></td>
  </tr>
       <tr>
    <th scope="row">Confirm password</th>
    <td><input type="text" name="cpass" id="textfield2" /></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Add" /></th>
    </tr>

  </table>
</form>
</body>
</html>
