<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="col">sl.no</th>
    <th scope="col">Camp info</th>
    <th scope="col">Date</th>
    <th scope="col">Volunteer info</th>
  </tr>
    {% for i in view %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>Name:{{ i.VOLUNTEER_SUPPORT.CAMP.camp_name }}<br></td>
    <td><img src="{{ i.VOLUNTEER.Image }}"  height="100" width="100" alt=""/>&nbsp;<br>Name:{{ i.VOLUNTEER.Name }}<br>Email:{{ i.VOLUNTEER.Email }}<br>Phone:{{ i.VOLUNTEER.Contact_no }}</td>
    <td>&nbsp;{{ i.date }}</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
